* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif  ;
}
section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 10px 100px;
    background-color: #fff;
}
ul {
    list-style: none;
}
section header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}
header ul li {
    list-style: none;
}
header ul li a {
    position: relative;
    display: inline-block ;
    color: #333;
    font-weight: 400;
    margin-left: 30px;
    text-decoration: none;
    padding: 5px 10px;
}
header ul li a::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    background: #333;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
    transition-delay: .6s;
}
header ul li a::before {
        content: '';
        position: absolute;
        width: 0%;
        height: 0%;
        background-color: rgba(80, 79, 79, 0.664);
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        opacity: 0;
        z-index: 2;
        border-radius: 25px;
}
header ul li a:hover::before {
    animation: flashing .7s;
}
@keyframes flashing {
    0% , 40%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 120%;
        height: 120%;
    }
}
header ul li a:hover::after {
    width: 100%;
}
.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textbox {
    position: relative;
    max-width: 600px;
}
.content .textbox h2 {
    color: #333;
    font-size: 3em;
    line-height: 1.4;
    font-weight: 500;
}
.content .textbox h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}
.content .textbox p {
    color: #333;
}
.content .textbox a {
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: .3s;
}
.content .textbox a:hover {
    color: #333
}
.content .imgbox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-left: 50px;
    margin-top: 30px;
}
.content .imgbox img {
    max-width: 340px;
}
@media (max-width:767px) {
    .content .imgbox {
        display: none;
    }
    section header {
        flex-direction: column;
    }
    .content .textbox h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    .content .textbox  p{
        font-size: 14px;
    }
    .content .textbox a {
        margin: 20px;
    }
    .content {
        margin-top: 50px;
    }
    .content .textbox {
        text-align: center;
    }
    .thumb {
       display:none !important; 
    }
    .soc {
        left:30px ; 
    }
}
@media (min-width:773px) {
    .content .textbox h2 {
        font-size: 3em;
        width: auto;
    }
}
.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li {
    display: inline-block;
    margin: 0 20px ;
    cursor: pointer;
    transition: .5s;
}
.thumb li:hover {
    transform: translateY(-10px);
}
.thumb li img {
    max-width: 60px;
}
.soc {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.soc li  a {
   display: inline-block;
   margin: 5px 0;
   transform: scale(.6);
   filter: invert(1);
   transition: 0.3s;
}
.soc li  a:hover {
    filter: invert(0);
}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path : circle(600px at right 800px);
}
@media(max-width:768px) {
    .thumb,
    .soc
     {
        display: none;
    }
    .circle {
        clip-path :circle(180px at left 615px);
    }
}
